.progress-bar {
  height: 20px;
  background-color: lightgray !important;
  border-radius: 3px;
  width: 100%;

  .fill {
    height: 100%;
    background-color: #1414ff;
    border-radius: inherit;
  }
}