.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeline-list-item {
  list-style: none;
  border-left: 1px solid #69b6d5;
  padding-left: 0;
  padding-bottom: 10px;
}

.timeline-list-item::before {
  left: -8px;
  top: 2px;
  position: relative;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #ffffff;
  border: 3px solid #69b6d5;
}

.timeline-list-item.active::before {
  border-color: #43ac6a;
}

.timeline-list-item.inactive::before {
  border-color: grey;
}

.timeline-list-item.abandoned::before {
  border-color: grey;
}

.timeline-list-item.destroyed::before {
  border-color: #f04124;
}

.timeline-list-item.lost::before {
  border-color: #d08002;
}

.status-icon-active {
  color: #43ac6a;
}

.status-icon-inactive {
  color: grey;
}

.status-icon-abandoned {
  color: grey;
}

.status-icon-destroyed {
  color: #f04124;
}

.status-icon-lost {
  color: #d08002;
}

.sketch-picker {
  z-index: 99999;
}

.ag-root-wrapper {
  overflow: visible;
}

.alert-container.unread {
  border-left: 4px solid #0a59a3;
}

.alert-container:hover {
  cursor: pointer;
}

.alert-notification {
  background-color: #2C3E50;
  border-radius: 3px;
  bottom: 10px;
  box-shadow: 1px 1px 2px darkgray;
  color: #fff;
  height: 100px;
  padding: 5px 8px;
  position: fixed;
  opacity: 0.65;
  right: 10px;
  text-decoration: none;
  width: 390px;
  z-index: 100;
}

.alert-notification:hover {
  color: #fff;
  text-decoration: none;
}

.close-notification {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 101;
}

.favorite {
  position: absolute;
  align-items: center;
  background: transparent;
  font-size: 20px;
  top: 5px;
  right: 0;
  border: none;
}

.gold {
  color: #FFD700;
}