.vertical-padding {
<<<<<<< HEAD
  padding-bottom: 10px;
  padding-top: 10px;
}

.horizontal-padding {
  padding-left: 10px;
  padding-right: 10px;
=======
  padding-bottom: 15px;
  padding-top: 15px;
}

.horizontal-padding {
  padding-left: 15px;
  padding-right: 15px;
>>>>>>> develop
}

.center-content {
  text-align: center;
}