.chart-container {
  height: 100%;
}

.settings-icon-container {
  left: 5px;
  top: 0px;
  z-index: 999;

  .settings-icon {
    font-size: 1.5em;
    color: rgba(68, 68, 68, 0.3);

    &.active {
      color: rgba(68, 68, 68, 0.6);
    }
  }
}

.form-container {
  padding: 10px;
  top: 26px;
  width: 100%;
  z-index: 9;
}

.chart-overlay {
  height: 100%;
  width: 100%;
  opacity: 1;
  position: absolute;
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
  z-index: -1;

  &.enabled {
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  .overlay-text {
    color: rgb(46, 44, 44);
    cursor: default;
    display: block;
    font-size: 24px;
    font-style: italic;
    font-weight: 200;
  }
}