.chart-container {
  height: 100%;
}

.settings-icon-container {
  left: 5px;
  top: 0px;
  z-index: 999;

  .settings-icon {
    font-size: 1.5em;
    color: rgba(68, 68, 68, 0.3);

    &.active {
      color: rgba(68, 68, 68, 0.6);
    }
  }
}

.form-container {
  padding: 10px;
  top: 26px;
  width: 100%;
  z-index: 9;
}